@import "../utilities/core/settings";
@import "../utilities/swatch";
@import "productCommon";

.quick-view-dialog,
.choose-bonus-product-dialog {
    max-width: 880px;

    @include media-breakpoint-up(lg) {
        max-width: 1260px;
    }

    .selectable-bonus-product-line-item {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .beenSelected {
        background-color: $grey2;
    }

    .quick-view-title {
        color: $pink;
        font-size: 22px;
        font-weight: 600;
        margin: 0;
        text-transform: uppercase;
    }

    .modal-title {
        font-size: 1em;
    }

    .product-name {
        color: $pink;
        font-size: 16px;
        font-weight: 600;
        margin: 10px 0 0;

        @include media-breakpoint-up(lg) {
            font-size: 22px;
        }
    }

    .product-name-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 10px;
        position: relative;
    }

    .product-wishlist-button {
        border: none;
        background: no-repeat;
        padding: 0;

        &:focus {
            outline: none;
        }

        &.outside {
            position: absolute;
            right: 10px;
            top: -40px;
        }

        .i-heart {
            height: 20px;
            width: 20px;

            @include media-breakpoint-up(md) {
                height: 31px;
                width: 31px;
            }
        }
    }

    .swatch-circle {
        display: block;
        height: 40px;
        margin: 4px;
        width: 50px;
        position: relative;

        @include media-breakpoint-up(md) {
            height: 60px;
            width: 70px;
        }

        &::after {
            position: absolute;
            content: '';
            display: block;
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            border: 2px solid $white;
            margin: -4px;
        }

        &:hover::after,
        &.color-value.selected::after,
        &.color-value[data-selected='true']::after {
            border-color: $pink;
        }
    }

    a[disabled] .swatch-circle {
        cursor: not-allowed;

        &.color-value.selected::after {
            background-color: $gray-700;
        }
    }

    .product-detail [disabled] .swatch-circle,
    .product-detail .swatch-circle.unselectable {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover::after,
        &.color-value.selected::after,
        &.color-value[data-selected='true']::after {
            border-color: $grey5;
        }
    }

    .product-quantity-input {
        background: $white;
        border: 2px solid $grey1;
        border-radius: 5px;
        padding: 0 15px;
        margin: 20px 0 0;
        max-width: 80px;
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;

        @include media-breakpoint-up(md) {
            max-width: 100%;
            margin: 0;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &:focus {
            background-color: $white;
            border-color: $grey1;
        }
    }

    .availablity-container {
        text-align: right;
    }

    .availablity-container,
    .size-chart {
        margin-top: 0.938em;
    }

    .modal-content {
        padding: 20px 5px;

        @include media-breakpoint-down(md) {
            margin-bottom: 120px;
        }

        @include media-breakpoint-up(lg) {
            padding: 30px 15px;
        }

        .modal-header {
            align-items: center;
            background: none;
            border-bottom: 1px solid $grey1;
            border-radius: 0;
            margin: 0 15px 30px;
            padding: 5px 0 25px;
        }

        .close {
            margin: 0;
            outline: none;
            padding: 0;
        }

        .close-icon {
            height: 23px;
            width: 23px;
        }
    }

    .modal-body {
        overflow-y: auto;
    }

    .detail-panel,
    .modal-info {
        padding: 0 20px 0 0;
    }

    .product-description {
        font-size: 16px;
        line-height: 18px;
    }

    .promotions {
        text-align: left;
        color: $red;
    }

    .bonus-summary {
        @include media-breakpoint-down(sm) {
            font-size: 0.625em;
        }

        .bonus-product-name {
            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
    }

    .pre-cart-products {
        margin-right: 0.125em;
    }

    .swatch {
        margin-top: 5px;
    }

    .attributes {
        margin: 0 0 30px;
    }

    .color-attribute {
        border: none;
        padding: 0;
        background: none;
        margin: 0 7px 0 -3px;

        &:focus {
            outline: none;
        }
    }

    .non-input-label {
        font-size: 16px;
        font-weight: 600;
        color: $pink;
    }

    .product-color-label {
        font-weight: 700;
        font-size: 16px;
    }

    .custom-select {
        background-color: $white;
        border: 2px solid $grey1;
        border-radius: 5px;
        padding: 0 20px 0 25px;

        &:focus {
            border-color: $grey1;
            box-shadow: none;
        }
    }

    .product-carousel-wrapper {
        position: relative;
        margin: 0 -15px;

        @include media-breakpoint-up(md) {
            margin: 0;
        }

        .product-pintererst-icon {
            bottom: 20px;
            height: 26px;
            position: absolute;
            right: 20px;
            width: 26px;
            z-index: 1;

            @include media-breakpoint-up(md) {
                bottom: 35px;
                height: 31px;
                right: 35px;
                width: 31px;
            }
        }

        .product-pintererst-link {
            background: $white;
            display: inline-block;
            border-radius: 50%;

            .i-pinterest {
                @extend %icon-pinterest--red;

                height: 28px;
                margin: -2px;
                width: 28px;
            }

            @include media-breakpoint-up(md) {
                .i-pinterest {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }

    .product-main-carousel {
        .slick-dots {
            bottom: 25px;

            li {
                margin: 0;
                width: auto;
                height: auto;
                padding: 9px;
            }

            button {
                border: solid 0.5px $white;
                height: 8px;
                padding: 0;
                transform: rotate(45deg);
                width: 8px;

                &::before {
                    display: none;
                }
            }

            .slick-active {
                button {
                    background-color: $white;
                }
            }
        }
    }

    .prices-add-to-cart-actions {
        margin: 20px 0;

        @include media-breakpoint-down(md) {
            margin: 20px 0 0;
        }
    }

    .add-to-cart-global {
        @include media-breakpoint-up(md) {
            font-size: 16px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
            min-height: 60px;
        }
    }

    .product-delivery-message {
        font-size: 14px;
        margin: 0;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }
}
