@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.folder {
    margin: 25px 0 0;

    @include media-breakpoint-up(md) {
        margin: 30px 0 0;
    }
}

.folder-item {
    padding-bottom: 20px;

    @include media-breakpoint-up(md) {
        padding-bottom: 60px;

        &:nth-child(2n + 1) {
            padding-right: 30px;
        }

        &:nth-child(2n + 2) {
            padding-left: 30px;
        }
    }
}

.folder-img {
    height: 170px;
    object-fit: cover;
    width: 100%;

    @include media-breakpoint-up(md) {
        height: 260px;
    }
}

.folder-title {
    background: $grey1;
    font-size: 10px;
    padding: 7px 0;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: 18px;
        padding: 17px 0;
    }
}

.asset {
    margin: 20px 0 0;

    @include media-breakpoint-up(md) {
        margin: 30px 0 0;
    }
}

.asset-item {
    padding-bottom: 30px;
}

.asset-img {
    height: 290px;
    object-fit: cover;
    width: 100%;

    @include media-breakpoint-up(md) {
        height: 400px;
    }
}

.asset-info {
    padding: 0 10px;

    @include media-breakpoint-up(md) {
        padding: 0 20px;
    }
}

.asset-name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 15px 0;

    @include media-breakpoint-up(md) {
        font-size: 18px;
        font-weight: 600;
        padding: 18px 0;
    }
}

.btn.btn-secondary.asset-link {
    @include media-breakpoint-down(md) {
        border-width: 1px !important;
        font-size: 14px;
        font-weight: 500;
        min-height: 40px;
        padding: 9px;
    }
}
