@import "variables";
@import "bootstrap/scss/variables";
@import "slick-carousel-import";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/responsiveUtils";
@import "utilities/core/settings";
@import "components/quickView";

.border-1 {
    border-width: 1px !important;
}

main {
    display: flex;
    flex-wrap: wrap;

    .article {
        flex-basis: 0;
        flex-grow: 999;
        min-width: 40%;
    }

    .sidebar {
        flex-grow: 1;
        flex-basis: 300px;
        align-self: start;
        position: sticky;
        top: $space;
    }
}

.text-2-rows {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em;
}

.sample-prev-arrow {
    background: linear-gradient(90deg, rgba(136, 136, 136, 0.5) 0%, rgba(255, 255, 255, 0) 30%) !important;
    height: 100% !important;
    width: 80px !important;
    z-index: 9 !important;
    left: 0 !important;
    opacity: 0.3;
    transition: 500ms;
    margin: 15px 0;
    display: flex !important;
    align-items: center;
    padding: 5px !important;
    justify-content: flex-start;

    .icon {
        transform: rotate(90deg);
    }

    &:hover {
        background: linear-gradient(90deg, rgba(136, 136, 136, 1) 0%, rgba(255, 255, 255, 0) 75%) !important;
        opacity: 1;
    }

    &:before {
        content: none !important;
    }
}

.sample-next-arrow {
    background: linear-gradient(-90deg, rgba(136, 136, 136, 0.5) 0%, rgba(255, 255, 255, 0) 30%) !important;
    height: 100% !important;
    width: 80px !important;
    z-index: 9 !important;
    right: 0 !important;
    opacity: 0.3;
    transition: 500ms;
    margin: 15px 0;
    display: flex !important;
    align-items: center;
    padding: 5px !important;
    justify-content: flex-end;

    .icon {
        transform: rotate(-90deg);
    }

    &:hover {
        background: linear-gradient(-90deg, rgba(136, 136, 136, 1) 0%, rgba(255, 255, 255, 0) 75%) !important;
        opacity: 1;
    }

    &:before {
        content: none !important;
    }
}

.list-2-col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
