@charset "UTF-8";

@import "wishlist/wishlist";
@import "components/wishlistSocial";
@import "account/components/navigation";
@import "login";

@include account-nav();

.empty-wishlist-message {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;

    @include media-breakpoint-up(md) {
        margin-top: 250px;
    }

    &--title {
        font-size: 28px;
    }
}
