@mixin account-nav {
    .dashboard-nav {
        margin: 30px 0;
        padding: 15px;
        box-shadow: 0 0 10px 0 $grey-transparent-3;
        border: solid 0 $grey4;
        background-color: $white;
        position: relative;

        @include media-breakpoint-up(md) {
            border: 0;
            box-shadow: none;
            margin: 0;
            padding: 0;
        }

        @include media-breakpoint-up(md) {
            > li + li {
                margin-top: 20px;
            }
        }

        .dashboard-controll-wrapper {
            position: absolute;
            top: 20px;
            right: 15px;

            @include media-breakpoint-up(md) {
                display: none;
            }

            .dashboard-controll {
                display: none;
            }

            .show {
                display: inline-block;
            }
        }

        &.expended .nav-item {
            margin-top: 20px;

            &:first-of-type {
                margin-top: 0;
            }
        }

        .nav-item {
            &.menu-hide {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .nav-link {
                font-size: 14px;
                font-weight: 300;
                color: $black;
                display: flex;
                align-items: center;

                @include media-breakpoint-up(md) {
                    padding: 22px 5px 22px 15px;
                    border: solid 1px $light-pink;
                    background-color: $white;
                    font-size: 17px;
                }

                &.active {
                    color: $pink;
                    font-weight: 600;
                    background-color: $white; // override bootstrap
                    font-size: 16px;

                    @include media-breakpoint-up(md) {
                        box-shadow: 0 5px 15px 0 $pink-transparent-1;
                        border: 0;
                    }

                    @include media-breakpoint-down(sm) {
                        pointer-events: none;
                    }
                }

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                }
            }
        }
    }

    .expended {
        @include media-breakpoint-down(md) {
            .nav-item {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
